@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poppins:wght@200;400&display=swap');

/* home css */
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    cursor: pointer;
    top: 0%;
}
.navlist{
    width: 50%;
    display: flex;

    align-items: center;
    justify-content: center;


}

.navlist li{
    list-style: none;
    padding: 20px;

    

    

}
.navlist li a{
 
    text-decoration: none;
    color: aliceblue;

    

}
.navlist li a:hover{
    transition: all 0.8s ease;
    color: gray;
}
.right-nav{
    width: 50%;
    text-align: right;
    padding: 0px 23px;
}
.logo img{
    width: 20%;
    border: 3px solid black;
    border-radius: 50px;
    

}
#search-bar{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
    text-align: center;
}
.background{
    background: rgba(0, 0, 0, 0.7) url(images/background.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.boxmain{
    display: flex;
    justify-content: center;
    align-items: center ;
    color: white;
    font-family:  'Roboto', sans-serif;
    max-width: 85%;

        margin: auto;
    height: 75%;
}
.firstsection{
    height: 100vh;

}
.firsthalf{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;


}
.secondhalf{
    width: 30%;
}
.secondhalf img{
    width: 70%;
    border: solid 2px black;
    border-radius: 24px;
    display: block;
    margin: auto;
    height: 150px
}
.bigtext{
    font-family:  'Roboto', sans-serif;
    font-weight: bold;


    font-size: 49px;
    padding: 10px;
    margin-left: -14px
}
.smalltext{
    font-size: 16px;
    padding: 5px;
    /* font-family: 'PT Sans Narrow', sans-serif; */
    font-family: 'Poppins', sans-serif;

    



}
.btn{
    padding: 8px;
    margin: 7px 0px;
    border: 2px solid gray;
    border-radius: 9px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    background: none;
    color: white;
    cursor: pointer;
    font-style: italic;
    padding: 3px;
vertical-align: middle;
border: 1px solid gray;
border-radius: 8px;

}
.btn:hover{
    color: black;
    background-color: #ffffff;
    transition: 0.8s ease all;

}
/* .btn{
padding: 3px;
vertical-align: middle;
border: 1px solid gray;
border-radius: 8px;
} */
.searchbar{
    
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: black;
    
}
.btnsearch{
    font-size: smaller;
    padding: 5px;
}
.firstSec{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: #fcfcff;
    
    
    
}
.thumbnail{
    height: 100px;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px    
    
}
.paras{
    padding: 0 , 60px;
    margin: 20px;
}
.secondSec{height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-direction: row-reverse;
    background-color: #fcfcff;

}
.thirdSec{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: #fcfcff;

}
.thumbnail img{
    width: 250px;
    height: 170px;
    border: solid gray 2px;
    border-radius: 40px ;
}
.sectag{
    margin-left: 40px;
    padding: 20px;
}
.secsubtag{
    padding-left: 63px;
}
.contact{
    background-color: #f5f5f5;
    height: 300px;
    padding: 20px;
    

}
.h2-contact{
    text-align: center;
}
.input{
    margin: 10px 0;
    max-width: 100%;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
}
.contact-form{
    max-width: 200px;
    margin-left: 565px;
    font-size: small
}
.submit{
    background-color: black;
    padding: 5px;
    height: 20px;
    margin: 566px;
} 
.courses{
    margin: -20px;
    padding: 55px;
    text-align: center;
    font-size: 67px;
    font-family: 'Roboto', sans-serif;
}
.footer{
    background-color: #24262b;
    padding: 65px 0px;
    

}
.row{
    display: flex;
    flex-wrap: wrap  ;
}
.container{
    max-width: 1170;
    margin: auto;
}
.footer-col{
    width: 20%;
    padding: 0 15px;
}
.footer-col ul{
    list-style: none;
}

.footer-col h4
 {
    font-size: 18px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    font-weight: 500;
    
}
.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px
    
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
    


}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: 0.3s ease all;


}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 5px;
}
.footer-col .socialmedia a{
    display:inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: 0.5s ease all;
}
.footer-col .socialmedia a:hover{
    color: #24262b;
    background-color: #ffffff;
}
@media(max-width: 767px){
    .footer-col
     {width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .footer-col
     {width: 100%
}
}
/* aboutus css */
body#aboutus{
     background-color: #fcfcff;
     padding: 0;
     margin: 0;
     background-size: cover;
     background-position: center;
     background: url(images/background.jpg);

    


}
.containeraboutus{
    height: 100%;
    width: 35%;
    background-color: rgba(0, 0, 0, .8);
    margin-left: 429px;
    margin-top: 50px;
    margin-bottom: 50px;


}
.auh1{
        font-family:  'Roboto', sans-serif;
        color: white;
        margin: 10px;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
    

}
.aupara{color: white;
    margin: 10px;
    padding: 13px;
    font-family: 'Poppins', sans-serif;    
    font-size: 17px;


}
body#contactus{
    background-color: #fcfcff;
     padding: 0;
     margin: 0;
     background-size: cover;
     background-position: center;
     background: url(images/background.jpg);


}
.contactussec{
    font-family: 'Poppins', sans-serif;
    display: flex;

    
}
.contactusinfo{
    color:  #fff;
    line-height: 65px;
    max-width: 500px;
    padding-left: 50px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    height: 500px

}
.contactusinfo i{
    margin-right: 20px;
    font-size: 17px;
    margin-top: 20px;

}
.contactusform{
    max-width: 700px;
    margin-right: 50px;
}
.contactusform, .contactusinfo{
    flex: 1;
    padding: 42px;

}
.contactusform h1{
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.contactusform .textbox{
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: calc(50%-10%);
    height: 30px;
    padding: 12px;
    font-size: 15px;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    margin-bottom: 10px;
    


}.contactusform .textbox:first-child{
    margin: 10px;
}
.contactusform textarea{
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    width: 100%;
    min-height: 100px;
    max-height: 400px;
    resize: vertical;
    padding: 12px;
    border-radius: 6px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    
}
.contactusform .send-btn{
    float: right;
    font-size: 18px;
    padding: 5px;
    width: 100px;
    border: 2px solid gray;
    border-radius: 9px;
    cursor: pointer;
    color: #ffffff;
    background-color: #424242;
    /* font-style: italic; */
    opacity: 1;
    /* border: 1px solid white; */



}
.contactusform .send-btn:hover{
    color: #000;
    /* background-color: #ffffff; */
    transition: 0.8s ease all;
    padding-left: 10px;
    /* border: 1px solid #000; */
    /* font-style: italic; */


}




